//Navigation Menu


%a-styles {
     color: $black;
     font-family: $font-primary;
     width: 100%;
     height: 100%;
     
 }

 %li-styles {
    border-radius: 5px;
    list-style-type: none;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    &:hover {
        background-color: $primary-color;
        a{
            color: $white;
        }
    }
 }

%ul-styles {
    width: 85%;
    margin: 20px auto 40px;
    padding: 0;
}

%p-styles {
    width: 85%;
    color: $darkgray;
    font-family: $font-primary;
    padding: 30px 0;
}
 

//Headlines

%--primary {
    width: 70%;
    color: $primary-color;
    font-family: $font-headline;
    margin: 20px auto;
}

%--secondary {
    font-family: $font-headline;
    color: $darkgray;
    font-weight: $light;
    margin: 40px auto;
    width: 90%;
}

// Link

%link {
    text-decoration: none;
}

// Blockquote

%blockquote-styles {
    width: 60%;
    padding-left: 20px;
    font-size: 1.5em;
    border-radius: 4px;
    border-left: 7px solid $primary-color;
    font-style: italic;
    font-family: $font-headline;
    color: $darkgray;
    margin-bottom: 40px;
}

//Forms

%form-styles {
    margin: auto;
    width: 90%;
    .form__input {
        border: none;
        border-bottom: 5px solid $primary-color;
        font-family: $font-primary;
        height: 35px;
        width: 90%;
        margin: auto;
        &::placeholder {
            color: $darkgray;
            text-indent: 15px;
            line-height: center;
        }        
    }
    .btn--default {
        border: none;
        margin: 20px 0;
        padding: 10px 0;
        border-radius: 5px;
        background-color: $secondary-color;
        color: $white;
        font-family: $font-primary;
        text-transform: uppercase;
        font-weight: $bold;
        width: 100%;
    }
}

//Images
%img-styles {
    width: 50%;
}

// Buttons

%button-styles {
    width: 90%;
    margin: 10px auto;
    padding: 12px 0;
    border-radius: 5px;
    border: none;
    color: $white;
    text-transform: uppercase;
    font-family: $font-primary;
}

// Grid System

%grid-styles {
    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8),
    &:nth-of-type(9),
    &:nth-of-type(10),
    &:nth-of-type(11),
    &:nth-of-type(12) {
        width: 95%;
        padding: 5px 0;
        margin: 25px auto;
        
        .theme__colors {
            padding: 12px;
            border-radius: 5px;
            font-family: $font-primary;
            color: $darkgray;
        }

        @each $col, $color in $grid-system-map {
            .#{$col} {
                background-color: $color;
            }
        }
        @include for-large-screens {
            width: 90%;
        }
    }
}