@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans&display=swap');

$primary-color: #5CE3C3;
$secondary-color: #4DDEFF;
$black: black;
$white: white;
$darkgray:rgb(99, 99, 99);

$color-map: 
        $secondary-color, 
        green, 
        red, 
        orange, 
        rgb(121, 15, 182);

$light: 100;
$bold: 700;
$size: 50%;

$font-primary: 'Open Sans', sans-serif;
$font-headline: 'Noto Serif', serif;