.form {
    @extend %form-styles;
    @include flex-column;
     
    .form__label--hidden {
        visibility: hidden;
    }
    .headline--secondary {
        @extend %--secondary;
        width: 90%;
        margin-bottom: 0;
    }
    .img--avatar {
        width: $size;
        margin: 20px auto;
    }
}