.container {
    @include for-medium-screens {
        width: 85%;
        margin: 40px auto;
    }
}

.nav {
    @include flex-column;
    @extend %ul-styles;
    .nav__item {
        @extend %li-styles;        
        a {
            @extend %a-styles;
            @extend %link;
        }
    }
    @include for-medium-screens {
        @include flex-row;
        width: 70%;
    }
    @include for-large-screens {
        width: 60%;
    }
}

