.container {
    @include flex-column;
}

.card {
    p {
        @extend %p-styles;

        
        &:last-of-type {
            @include for-large-screens {
                width: 82%;
            }
        }

        &:first-child() {
            @include for-large-screens {
            width: 90%;
            }
        }
    }
    .headline {
        &--primary {
            @extend %--primary;
            @include for-large-screens {
                width: 80%;
            }
        }
    
        &--secondary {
            @extend %--secondary;
            width: 80%;
            margin-bottom: 0;
            @include for-large-screens {
                width: 82%;
            }
        }

        
    }
}





.link {
    @extend %link;
    color: $secondary-color;
    font-weight: $bold;
    @include for-large-screens {
        width: 30%;
    }

}

.blockquote {
    @extend %blockquote-styles;
    @include for-large-screens {
        width: 70%;
    }

}
